@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common;
@model IPagedList<FinalProject.Associate.DTO.UserDTO>

@{
    ViewData["Title"] = "GetFollower";
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
}


<table class="table" style="color:white">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.First().UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Bio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="color:white">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.OnlineMi == true)
                    {
                        <a class="btn-sm btn-success rounded"></a>
                    }
                    else
                    {
                        <a class="btn-sm btn-danger rounded"></a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bio)
                </td>
                <td>
                    <a class="btn-sm btn-warning" asp-action="Profile" asp-controller="Profile" asp-route-userName="@item.UserName">Profile</a>
                    <a class="btn-sm btn-primary" asp-action="ChatRoom" asp-controller="Message" asp-route-userName="@item.UserName">Message</a>
                    @foreach (var item2 in item.Followed)
                    {
                        <a class="follow btn-sm btn-primary" href="@Url.Action("Follow","Follow",new {item.Id })"><b class="result">@ViewBag.Follow</b></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("GetFollower", "Follow", new { sayfa }), new X.PagedList.Web.Common.PagedListRenderOptionsBase
{
    LiElementClasses = new string[] { "page item" },
     PageClasses = new string[] { "page-link" },
     Display = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded
})
@section scripts2{
    <script>
        $(document).on("click", "a.follow", function (a) {
            a.preventDefault();
            var me = this;
            $.post(this.href).then(function (results) {
                $(me).find("b.result").text(results.message);
            });
        });
    </script>

}
